/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #b2bec3;
  font-family: 'Nunito';
  font-size: 18px;

}

.vizitka {
  width: 550px;
  padding: 30px;
  margin: 150px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(144, 145, 146);
  position: relative;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #d63031;
}

.foto {
  width: 150px;
  height: 150px;
  border: white solid 3px;
  border-radius: 50%;
  position: absolute;
  right: -75px;
  top: -75px;
}

.odstavec {
  margin: 30px 0;
}

.box {
  margin: 5px 0;
  padding: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.twitter {
  background-color: #1da1f2;
  font-weight: bold;
}

.twitter:hover {
  background-color: #0b7bc1;
  color: white;
}

.facebook {
  background-color: #3b5998;
  font-weight: bold;
}

.facebook:hover {
  background-color: #2b406e;
  color: white;
}




/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
